---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign publications = site.publications | sort: "date" | reverse %}

<div class="publication-list">
{% assign current_year = "" %}
{% for post in publications %}
  {% assign year = post.date | date: "%Y" %}
  {% if year != current_year %}
    <h2 class="publication-year">{{ year }}</h2>
    {% assign current_year = year %}
  {% endif %}
  {% include publication-entry.html post=post %}
{% endfor %}
</div>
<p class="publication-note"><sup>*</sup> Equal contribution.</p>
